.user{
    display: flex;
}


.photo{
    width: 33%;
    padding: 15px;
    box-sizing: border-box;
}

.user-details{
    width: 66%;
    padding: 15px;
    box-sizing: border-box;
}

.user-details > p{
    margin: 0;
    padding: 15px;
    width: 100%;
    border: solid black 1px;
}

